{% extends "base.html" %}

{% block leftnav %}
	{{ super()}}
{% endblock %}

{% block content %}
<div class="panel panel-default" style="background-color: #FFC72C">
  <div class="panel-heading">About CrowdPixie</div>
  <div class="panel-body"> 
		<p>It is our mission to revolutionize the way people interact in groups.</p>

	 	<p>In particular we want to make it more fun and interesting to attend sporting events, concerts and any other type of social gathering.  Our technology lets every person who has a mobile device register by simply showing the device to one of a group of imaging devices for a few seconds.  By opting in, a participant can be join various types of actvities including prize give-aways, visual effects and other fun group activites. </p>

		<p> Our patented technology assigns a unique, anonymous identity to each device.  At least one camera, which is typically a mobile phone running our Director App, then detects that device based on an optical semaphore from the device and allows the system to know where the device is located and to send individualized content to the device during or after the event.  Our system can provide synchronized behavior for a group of devices to create dynamic visual effects with both large and small audiences. A single camera can handle up to 2000 devices, and our system can scale to manage many thousands of devices using multiple cameras. </p>

		<p> Our President is Gene O'Donnell, a named inventor on over 30 US Patents with extensive experience in the Consumer Products area both as a developer and leader with companies including ChaCha Search, Inc., Thomson/RCA, and Zvue Corporation.  </p>

		<p> Our advisory board includes Scott A. Jones, the founder of Comverse Technologies, GraceNote, ChaCha Search, and other innovative technology companies and Michael Browining, Jr. CEO of Mobi Wireless, Inc.</p>   
	</div>
</div>
{% endblock %}
